.container {
    padding: 0;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}
.changePwdForm {
    padding: 0;
    margin: 0 auto;
    width: 500px;
    display: inline-block;
}
.changePwdForm span{
    display: block;
    width: 70%;
    height: 51px;
    border: solid 2px #e4dcdc;
    padding: 10px 110px 10px 14px;
    background: #fff;
    box-sizing: border-box;
}
.changePwdForm input{
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
    box-sizing: border-box;
    /* z-index: 10; */
}
.changePwdForm input:focus {
    outline: none;
}
.findUserDiv {
    display: flex;
}
.changePwdBtn {
    display: block;
    width: 20%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,.15);
    background-color: #03c75a;
    box-sizing: border-box;
}
.changePwdBtn .changePwdText {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
  }
.emailDiv {
    display: flex;
    justify-content: space-between;
}