.logo {
    color: magenta;
    width: 300px;
    left: 50px;
}
:link {
    text-decoration: none;
}
li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
}
li:hover {
    color: magenta;
    text-decoration: underline;
}
ul.user {
    right: 50px;
    width: 300px;
}
.search {
    margin: 0 auto;
    width: 600px
}
.searchDiv {
    margin: 0 auto;
    width: 700px;
}
.header {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}
.top{
    display: flex;
    justify-content: space-between;
}
.myPage{
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 372px;
    z-index: 991;
    height: 474px;
    margin-top: 57px;
    right: 0px;
    margin-right: 4px;
    max-height: calc(-83px + 100vh);
    max-width: calc(-24px + 100vw);
    background-color: blue;
}