.notfound {
    position: relative;
    height: 100vh;
    background-color: #222;
}

.notfoundMent {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.notfound404 {
    height: 158px;
    line-height: 153px;
}

.notfound404 h1 {
    font-family: 'Josefin Sans',sans-serif;
    color: #222;
    font-size: 220px;
    letter-spacing: 10px;
    margin: 0;
    font-weight: 700;
    text-shadow: 2px 2px 0 #c9c9c9, -2px -2px 0 #c9c9c9;
}

.notfound404 span {
    text-shadow: 2px 2px 0 magenta, -2px -2px 0 magenta, 0 0 8px magenta;
}

.clock {
    font-family: 'Josefin Sans',sans-serif;
    color: #222;
    font-size: 110px;
    letter-spacing: 10px;
    margin: 0;
    font-weight: 700;
    text-shadow: 2px 2px 0 #c9c9c9, -2px -2px 0 #c9c9c9;
}

.notfoundMent p {
    font-family: 'Josefin Sans',sans-serif;
    color: #c9c9c9;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
}

.notfoundMent a {
    font-family: 'Josefin Sans',sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: 0 0;
    color: #c9c9c9;
    border: 2px solid #c9c9c9;
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    -webkit-transition: .2s all;
    transition: .2s all;
}
.notfoundMent a:hover{
    color: magenta;
    border: 2px solid magenta;
}